<h2>Create New Figure</h2>

<!-- add content here -->

<form action="/figures" method="POST">
  <label>Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>
  <label>Choose an existing landmark:</label><br></br>
  <% @landmarks.each do |i| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%=i.id%>" value="<%=i.id%>"><%=i.name%></input><br>
  <%end%>
  <br>
    <label>or, create a new landmark:</label>
    <br></br>
    <label>Name:</label>
      <input  type="text" name="landmark[name]" id="new_landmark"></input>
    <label>Year:</label>
      <input type="text" name="landmark[year_completed]"></input>
    <br></br>
      <label>Choose an existing title:</label><br></br>
  <% @titles.each do |i| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%=i.id%>" value="<%=i.id%>"><%=i.name%></input><br>
  <%end%>
  <br>
    <label>or, create a new title:</label>
    <br></br>
    <label>Name:</label>
      <input  type="text" name="title[name]" id="new_title"></input>
    <br></br>
  <input type="submit" value="Create New Figure">
</form><br></br>

<a class="button" href="/landmarks">Landmarks</a><br>
<a class="button" href="/">Home</a>